{% extends 'layouts/master.html' %}
{% block title %}Proffile{% endblock %}
{% block body %}



        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Profle page of {{ profile.surname}}
                        <span class="tools pull-right">
                            <a href="{{ url_for('contacts')}}" class="fa fa-chevron-down"></a>
                            <a href="{{ url_for('editproffile', id=profile.id) }}" class="fa fa-cog"></a>
                  
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="docimg">
                             <!--   <p><strong>{{ profile.name}} {{ profile.surname}}</strong></p> 
                                <p>{{profile.specification}} </p> -->
                                <img src="http://via.placeholder.com/300x350" alt=""> 
                            <!--
                                <img src="{{profile.imagelink}}" alt="Mountain View" style="width:270px;height:350px;">
                                -->
                            </div>
                        </div> <!-- col sm 4 -->

                        <div class="col-sm-8">
                            <div class="doctable">
                                <table class="table table-bordered">
                                  <tr>    
                                    <th colspan="3" class="doctablehead">Personal Information</th>
                                  </tr>
                                  <tr>
                                    <td width="30%">Gender</td>
                                    <td width="70%">{{profile.gender}}</td>
                                  </tr>
                                   <tr>
                                    <td width="30%">Job Title</td>
                                    <td width="70%">{{profile.JobTitle}}</td>
                                  </tr>
                                  <tr>
                                    <td width="30%">Work Address</td>
                                    <td width="70%">{{profile.WorkAddress}}</td>
                                  </tr>
                                  <tr>
                                    <td width="30%">Email</td>
                                    <td width="70%">{{profile.email}}</td>
                                  </tr>
                                  <tr>
                                      <th colspan="3" class="doctablehead">Contact Information</th>
                                  </tr>
                                  <tr>
                                    <td width="30%">Phone</td>
                                    <td width="70%">{{profile.phone}}</td>
                                  </tr>
                                  <tr>
                                    <td width="30%">Land Phone</td>
                                    <td width="70%">{{profile.Lan_Phone}}</td>
                                  </tr>
                                  <tr>
                                    <td width="30%">City</td>
                                    <td width="70%">{{profile.City}}</td>
                                  </tr>
                                  <tr>
                                    <td width="30%">Address</td>
                                    <td width="70%">{{profile.Address}}</td>
                                  </tr>

                                  <tr>
                                      <th colspan="3" class="doctablehead">Experience</th>
                                  </tr>
                                    
                                    <tr>
                                        <td>Experience</td>
                                        <td>{{profile.Experience}}</td>
                                    </tr>
                                    <tr>
                                        <td>Training</td>
                                        <td>{{profile.Training}}</td>
                                    </tr>
                                    <tr>    
                                        <th colspan="3" class="doctablehead">Family Information</th>
                                    </tr>
                                    <tr>
                                        <td>Marriage Anniversary</td>
                                        <td>{{profile.MarregeAniversary}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name of Children</td>
                                        <td>{{profile.nameofchildren1}} ,{{profile.nameofchildren2}}</td>
                                    </tr>

                                     <tr>    
                                        <td colspan="3"><strong>What is your Favourite Movie ?</strong></td>
                                    </tr>
                                    <tr>                                     
                                        <td colspan="3">{{profile.Q1}}</td>   
                                    </tr>

                                    <tr>    
                                        <td colspan="3"><strong>What is your Favourite Book ?</strong></td>
                                    </tr>
                                    <tr>                                     
                                        <td colspan="3">{{profile.Q2}}</td>   
                                    </tr>
                                </table>
                            </div>
                        </div> <!-- col sm 8 -->
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    


{% endblock %}