{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block body %}
<h1>Doctor Information</h1>



<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Surname</th>
			<th scope="col">E-Mail</th>
			<th scope="col">Phone</th>
			<th scope="col">specification</th>

			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for contact in contacts %}
		<tr>
			<td>{{ contact.name }}</td>
			<td>{{ contact.surname }}</td>
			<td>{{ contact.email }}</td>
			<td>{{ contact.phone }}</td>
			<td>{{contact.specification}}</td>
		

		<td class="text-right">
				<div class="row">
					
					<a class="btn btn-success pull-right" href="{{ url_for('doctorView', id=contact.id) }}">View</a>

				</div>
			</td>
			</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
