{% from 'helpers/_forms.html' import generate_fields with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} | Contacts Flask </title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>


    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>

<h1>View Doctor Details</h1>




{% block body %}




<table class="table table-hover">
	
	<tbody>
	
		<tr>
			<td> Name : {{ contact.name }}</td>
			<td>Surname : {{ contact.surname }}</td>
			<td>Email : {{ contact.email }}</td>
			<td> phone : {{ contact.phone }}</td>
			<td> gender : {{contact.gender}}</td>
			<td> JobTitle : {{contact.JobTitle}}</td>
			<td> Lan_Phone : {{contact.Lan_Phone}}</td>
			<td> Mobile1 : {{contact.Mobile1}}</td>
			<td> Mobile2 : {{contact.Mobile2}}</td>
			<td> Address : {{contact.Address}}</td>
			<td> City : {{contact.City}}</td>
			<td> country : {{contact.country}}</td>
			<td> DateofBirth : {{contact.DateofBirth}}</td>
			<td> MarregeAniversary : {{contact.MarregeAniversary}}</td>
			<td> WorkAddress : {{contact.WorkAddress}}</td>
			<td> Training : {{contact.Training}}</td>
			<td> chamberphone1 : {{contact.chamberphone1}}</td>
			<td> chamberphone2 : {{contact.chamberphone2}}</td>
			<td> Q1 : {{contact.Q1}}</td>
			<td> Q2 : {{contact.Q2}}</td>

			
		</tr>
	</tbody>
</table>

{% endblock %}
    
    