{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block body %}


  <div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Reset Password</h3>
        <hr/>
        <form  method="POST">
            <div class="form-group"  >
                <label>Enter Email id :</label>
                <input type="text" class="form-control" name = "email"/>
            </div>
            <div class="form-group">
                <label>Old Password :</label>
                <input type="password" class="form-control"  name="oldpassword"/>
            </div>
             <div class="form-group">
                <label>Change Password :</label>
                <input type="password" class="form-control"  name="password"/>
            </div>
             <div class="form-group">
                <label>COnfirm Password :</label>
                <input type="password" class="form-control" name = "Confirm"/>
            </div>
            <button class="btn btn-primary btn-sm center-block">
                Submit
            </button>
        </form>
    </div>
  </div>



{% endblock %}