{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block body %}
<!--sidebar end-->
    <!--main content start-->
 
        <!-- page start-->

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                 <div class="panel panel-info">
                 <div class="panel-heading">Create a Service Request
                 </div>
                     <div class="panel-body">
                    <div class=" form">
                        <form class="cmxform form-horizontal " id="commentForm" method="POST" action="/createservicereq">


                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-3">Doctor Name</label>
                                <div class="col-lg-6">
                                <!--
                                    <input class=" form-control" id="docname" name="docname" minlength="2" type="text" placeholder="Dr. Robiul Islam"/>
                                    -->
                                    <!-- -->
                                    <select class="form-control" minlength="2" name="docname">
                                    {% for doc in Doc%}
                                    <option> {{ doc.name}} {{ doc.surname}}</option>
                                    {% endfor %}
                                    </select>
                                    <!-- -->
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-3">Phone</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="phone" name="phone" minlength="2" type="number" placeholder="928598579" disabled />
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-3">Email</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="email" name="email" minlength="2" type="email" placeholder="hello@example.com" disabled />
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="action" class="control-label col-lg-3">Service Category</label>
                                <div class="col-lg-6">
                                    <select class="form-control" minlength="2" name="servicecat">
                                    {% for ser in Servicss%}
                                        <option>{{ser.service_request }}</option>
                                        {%  endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="action" class="control-label col-lg-3">Vendor</label>
                                <div class="col-lg-6">
                                    <select class="form-control" minlength="2" name="Vendor" id = "vendor">
                                    {% for vendor in vendors%}
                                        <option>{{vendor.vendor_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="action" class="control-label col-lg-3">Product</label>
                                <div class="col-lg-6">
                                    <select class="form-control" minlength="2" name="Product">
                                    {% for product in products%}
                                        <option>{{product.vendor_product }}</option>
                                        {%  endfor %}
                                    </select>
                                </div>
                            </div>
                            

                             <div class="form-group ">
                                <label for="date" class="control-label col-lg-3">Date</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="date" name="date" minlength="2" type="date" placeholder="today"  />
                                </div>
                            </div>
                             <div class="form-group ">
                                <label for="time" class="control-label col-lg-3">Time</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="reqtime" name="time" minlength="2" type="time" placeholder="today"  />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="remarks" class="control-label col-lg-3">Remarks</label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" rows="3" name="remarks"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <button class="btn btn-default" type="button" onclick="reload_page()">Cancel</button>
                                    <a href="/listofservices">
                                    <button class="btn btn-primary" type="submit">Back</button></a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div> <!-- panel body -->
                 </div> <!-- panel-default -->
            </div> <!-- col-sm-8 col-sm-offset-2 -->

            <div class="col-sm-2"></div>
        </div> <!-- row -->
        <!-- page end-->
        </section>
   
{% endblock %}


